<!-- views/index.handlebars -->

<div class="jumbotron">
  <h2>Welcome to Identiglass for Boston University</h2>
  <p>
  	For both professors and students in large classes, it has always been somewhat difficult to interact with one another. Because of the class size, it is hard for professors to remember everyone's names and students often feel disappointed when their names are not remembered. Our Senior Design Project will be developed to ease and facilitate the process of remembering names for professors and to increase the productiveness and enjoyment of student-professor interactions.
  </p>
  <p>
    "Professor's Helper" is an integrated system consisting of a camera, an earpiece, and a processing unit. The camera is located on the user's eye level and whenever there is a need to be reminded of the present student's name, the user pushes the button to initialize the process. A picture of that student is taken and analyzed by a facial-recognition algorithm that matches the face to a photo in the student database. The user is then provided with that student's name through an earpiece, eliminating the awkwardness out of student-professor interactions once and for all.
  </p>
  <p>
    <form method='post' action='upload' enctype="multipart/form-data">
	<input type='file' name='fileUploaded'>
	<input type='submit'>
  </p>

</div>