<!-- views/uploads -->

<div class="jumbotron">
  <h2>Upload an image for recognition</h2>
  <p>
    <form method='post' action='upload' enctype="multipart/form-data">
	<input type='file' name='fileUploaded'>
	<input type='submit'>
  </p>
</div>